@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    overflow: hidden;
}

td {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

tr {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.cm-editor {
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
    position: relative; /* <-- .cm-scroller absolute positioning depends on this*/
}

.cm-editor.cm-focused {
    outline: none;
}

.cm-content {
    word-wrap: break-word;
    white-space: pre-line;
    word-break: normal;
    line-height: 26px;
}

.cm-scroll {
    overflow: hidden;
}

.cm-gutters {
    white-space: nowrap;
    line-height: 26px;
}

.cm-gutter {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.cm-selectionBackground {
    color: black;
    background-color: black;
    background: black;
}

.ScrollAreaRoot {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    --scrollbar-size: 10px;
}

.ScrollAreaViewport {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.ScrollAreaScrollbar {
    display: flex;
    /* ensures no selection */
    user-select: none;
    /* disable browser handling of all panning and zooming gestures on touch devices */
    touch-action: none;
    padding: 2px;
    margin-top: 4%;
    margin-bottom: 4%;
    /* background: var(--black-a6); */
    /* transition: background 160ms ease-out; */
}

.ScrollAreaScrollbar[data-orientation="vertical"] {
    width: var(--scrollbar-size);
}
.ScrollAreaScrollbar[data-orientation="horizontal"] {
    flex-direction: column;
    height: var(--scrollbar-size);
}

.ScrollAreaThumb {
    flex: 1;
    background: #d6d3d1;
    border-radius: var(--scrollbar-size);
    position: relative;
}

.ScrollAreaThumb:hover {
    background: #e7e5e4;
}

.ScrollAreaThumb-Dark {
    flex: 1;
    background: #52525b;
    border-radius: var(--scrollbar-size);
    position: relative;
}

.ScrollAreaThumb-Dark:hover {
    background: #71717a;
}

/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
}

.ScrollAreaCorner {
    background: var(--black-a8);
}

.Text {
    color: var(--violet-11);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}

.Tag {
    color: var(--mauve-12);
    font-size: 13px;
    line-height: 18px;
    margin-top: 10px;
    border-top: 1px solid var(--mauve-6);
    padding-top: 10px;
}

.DropdownMenuContent,
.DropdownMenuSubContent {
    min-width: 220px;
    background-color: white;
    border-radius: 0.75rem;
    padding: 0.6rem;
    border-width: 1px;
    border-color: #e5e7eb;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.DropdownMenuContent-Dark {
    background-color: #27272a;
    border-width: 1px;
    border-color: #3f3f46;
}

.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
    animation-name: slideRightAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
    animation-name: slideRightAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
    animation-name: slideRightAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
    animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
    cursor: pointer;
    font-size: 13px;
    line-height: 26px;
    color: black;
    border-radius: 0.4rem;
    display: flex;
    border-width: 1px;
    border-color: white;
    font-weight: 500;
    align-items: center;
    height: 26px;
    padding: 5px 9px;
    position: relative;
    user-select: none;
    outline: none;
}

.DropdownMenuItem-Dark {
    /* background-color: var(--violet-4); */
    border-width: 1px;
    border-color: #27272a;
    color: #cecfd0;
}

.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
    color: #d6d3d1;
    pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
    background-color: #f5f5f4;
    border-width: 1px;
    border-color: #e5e7eb;
    color: black;
}

.DropdownMenuItem-Dark[data-highlighted] {
    background-color: #52525b;
    border-width: 1px;
    border-color: #52525b;
    color: #cecfd0;
}

.DropdownMenuLabel {
    padding-left: 25px;
    font-size: 12px;
    line-height: 25px;
    color: gray;
}

.DropdownMenuSeparator {
    height: 1px;
    background-color: var(--violet-6);
    margin: 5px;
}

.DropdownMenuItemIndicator {
    position: absolute;
    left: 0;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.DropdownMenuArrow {
    fill: white;
}

.DropdownMenuArrow-Dark {
    fill: #27272a;
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--violet-11);
    background-color: white;
    box-shadow: 0 2px 10px var(--black-a7);
}
.IconButton:hover {
    background-color: var(--violet-3);
}
.IconButton:focus {
    box-shadow: 0 0 0 2px black;
}

.RightSlot {
    margin-left: auto;
    padding-left: 20px;
    color: #a8a29e;
}

.RightSlot-Dark {
    margin-left: auto;
    padding-left: 20px;
    color: #a8a29e;
}

[data-highlighted] > .RightSlot-Dark {
    color: #cecfd0 !important;
}

[data-highlighted] > .RightSlot {
    color: black;
}
[data-disabled] .RightSlot {
    color: black;
}

.PopoverContent {
    min-width: 220px;
    background-color: white;
    border-radius: 0.75rem;
    padding: 0.6rem;
    border-width: 1px;
    border-color: #e5e7eb;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.PopoverContent-Dark {
    background-color: #27272a;
    border-width: 1px;
    border-color: #3f3f46;
}

.PopoverContent[data-state="open"][data-side="top"] {
    animation-name: slideRightAndFade;
}

.PopoverContent[data-state="open"][data-side="right"] {
    animation-name: slideRightAndFade;
}
.PopoverContent[data-state="open"][data-side="bottom"] {
    animation-name: slideRightAndFade;
}
.PopoverContent[data-state="open"][data-side="left"] {
    animation-name: slideRightAndFade;
}

.PopoverArrow {
    fill: white;
}

.PopoverArrow-Dark {
    fill: #27272a;
}

.PopoverClose {
    font-family: inherit;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: absolute;
    top: 5px;
    right: 5px;
}

.PopoverClose-Dark {
    font-family: inherit;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #71717a;
    position: absolute;
    top: 5px;
    right: 5px;
}

.PopoverClose-Dark:hover {
    background-color: #a1a1aa;
    color: #52525b;
}
.PopoverClose-Dark:focus {
    background-color: #525252;
    color: #a1a1aa;
}

.PopoverClose:hover {
    background-color: #e7e5e4;
}
.PopoverClose:focus {
    background-color: #d6d3d1;
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    box-shadow: 0 2px 10px var(--black-a7);
}
.IconButton:hover {
    background-color: var(--violet-3);
}
.IconButton:focus {
    box-shadow: 0 0 0 2px #d1d5db;
}

.Fieldset {
    display: flex;
    gap: 20px;
    align-items: center;
}

.Label {
    font-size: 13px;
    color: var(--violet-11);
    width: 75px;
}

.Input {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 0.4rem;
    padding: 2px 10px;
    border: 1px solid #e7e5e4;
    font-size: 13px;
    line-height: 24px;
    color: black;
    height: 30px;
}

.Input:hover {
    border: 1px solid #d6d3d1;
    outline: none;
}

.Input-Dark {
    background-color: #52525b;
    border-width: 1px;
    border-color: #52525b;
    color: #cecfd0;
}

.Input-Dark:hover {
    border: 1px solid #71717a;
    outline: none;
}

.Input:focus {
    border: 1px solid #d6d3d1;
    outline: none;
}

.Input-Dark:focus {
    border: 1px solid #a1a1aa;
    outline: none;
}

.Text {
    margin: 0;
    color: black;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
}

.Text-Dark {
    color: #cecfd0;
}

/* reset */

.SwitchRoot {
    width: 14px;
    height: 3px;
    align-items: center;
    background-color: #e5e5e5;
    border-radius: 24px;
    outline: none;
    position: relative;
    border-width: 1px;
    border-color: #d6d3d1;
}

.SwitchRoot[data-state="checked"] {
    background-color: black;
    border-width: 1px;
    border-color: black;
    border-radius: 24px;
}

.SwitchRoot-Dark {
    width: 14px;
    height: 3px;
    align-items: center;
    background-color: #52525b;
    border-radius: 24px;
    outline: none;
    position: relative;
    border-width: 1px;
    border-color: #52525b;
}

.SwitchRoot-Dark[data-state="checked"] {
    background-color: #a1a1aa;
    border-width: 1px;
    border-color: #a1a1aa;
    border-radius: 24px;
}

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
}
.Button.violet {
    background-color: white;
    color: var(--violet-11);
    box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
    background-color: var(--mauve-3);
}
.Button.violet:focus {
    box-shadow: 0 0 0 2px black;
}
.Button.red {
    background-color: var(--red-4);
    color: var(--red-11);
}
.Button.red:hover {
    background-color: var(--red-5);
}
.Button.red:focus {
    box-shadow: 0 0 0 2px var(--red-7);
}
.Button.mauve {
    background-color: var(--mauve-4);
    color: var(--mauve-11);
}
.Button.mauve:hover {
    background-color: var(--mauve-5);
}
.Button.mauve:focus {
    box-shadow: 0 0 0 2px var(--mauve-7);
}

.table-wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.feature-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;
}

.feature-wrapper-open {
    grid-template-rows: 1fr;
}

.DialogOverlay {
    background-color: var(--black-a9);
    position: fixed;
    inset: 0;
    z-index: 30;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
    background-color: white;
    border-radius: 0.9rem;
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 280px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
    outline: none;
}

.DialogContent-Dark {
    border-radius: 0.9rem;
    position: fixed;
    background-color: #27272a;
    border-width: 1px;
    border-color: #3f3f46;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 300px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent-Dark:focus {
    outline: none;
}

.DialogTitle {
    margin: 0;
    font-weight: 500;
    color: var(--mauve-12);
    font-size: 17px;
}

.DialogDescription {
    margin: 10px 0 20px;
    color: var(--mauve-11);
    font-size: 15px;
    line-height: 1.5;
}

.SelectTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4rem;
    padding: 0px 10px;
    font-size: 13px;
    line-height: 1;
    height: 26px;
    border-width: 1px;
    border-color: #e5e7eb;
    width: 8.5rem;
    gap: 5px;
    background-color: #f5f5f4;
    outline: none;
    font-weight: 500;
}

.SelectTrigger-Dark {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4rem;
    padding: 0px 10px;
    font-size: 13px;
    line-height: 1;
    height: 26px;
    width: 8.5rem;
    gap: 5px;
    outline: none;
    font-weight: 500;
    background-color: #52525b;
    border-width: 1px;
    border-color: #52525b;
    color: #cecfd0;
}

.SelectTrigger:hover {
    background-color: #e7e5e4;
    border-width: 1px;
    border-color: #e5e7eb;
    color: black;
}

.SelectTrigger[data-placeholder] {
    color: black;
}

.SelectIcon {
    color: black;
}

.SelectContent {
    overflow: hidden;
    background-color: white;
    border-radius: 0.75rem;
    padding: 0.2rem;
    border-width: 1px;
    border-color: #e5e7eb;
    position: relative;

    z-index: 30;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
        0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation: overlayShow 150ms;
}

.SelectContent-Dark {
    overflow: hidden;

    background-color: #27272a;
    border-width: 1px;
    border-color: #3f3f46;
    border-radius: 0.75rem;
    padding: 0.2rem;
    border-width: 1px;
    position: relative;

    z-index: 30;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
        0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation: overlayShow 150ms;
}

.SelectViewport {
    padding: 5px;
    position: relative;
    z-index: 30;
}

.SelectItem {
    z-index: 30;
    padding: 0 35px 0 25px;
    cursor: pointer;
    font-size: 13px;
    line-height: 26px;
    color: black;
    border-radius: 0.4rem;
    display: flex;
    border-width: 1px;
    border-color: white;
    font-weight: 500;
    align-items: center;
    height: 26px;
    position: relative;
    user-select: none;
    outline: none;
}
.SelectItem[data-disabled] {
    color: var(--mauve-8);
    pointer-events: none;
}
.SelectItem[data-highlighted] {
    background-color: #f5f5f4;
    border-width: 1px;
    border-color: #e5e7eb;
    color: black;
}
.SelectItem-Dark {
    z-index: 30;
    padding: 0 35px 0 25px;
    cursor: pointer;
    font-size: 13px;
    line-height: 26px;
    border-width: 1px;
    border-color: #27272a;
    color: #cecfd0;
    border-radius: 0.4rem;
    display: flex;
    border-width: 1px;
    font-weight: 500;
    align-items: center;
    height: 26px;
    position: relative;
    user-select: none;
    outline: none;
}

.SelectItem-Dark[data-disabled] {
    color: var(--mauve-8);
    pointer-events: none;
}
.SelectItem-Dark[data-highlighted] {
    background-color: #52525b;
    border-width: 1px;
    border-color: #52525b;
    color: #cecfd0;
}

.SelectLabel {
    padding: 0 25px;
    font-size: 12px;
    line-height: 25px;
    color: var(--mauve-11);
}

.SelectSeparator {
    height: 1px;
    background-color: var(--violet-6);
    margin: 5px;
}

.SelectItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.SelectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    color: var(--violet-11);
    cursor: default;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes slideRightAndFade {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
